.options_wrap {
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    margin-top: 22px;
    overflow-y: scroll;
}
.options{
    display: flex;
    justify-content: space-between;
    color: #b8ae66;
    margin: 3px;
    padding-top: 5px;
    box-sizing: border-box;
}