.card_description {
    background: #4f341c;
    width: 170px;
    border: solid 2px #ff9800;
    border-radius: 10px;
    color: #ff9800;
    margin-bottom: 20px;
}

.card_button {
    text-align: center;
}

button {
    cursor: pointer;
}