.card_itemContent_big {
    height: 250px;
    width: 250px;
    cursor: pointer;
}

.card_itemContent_wrap {
    position: relative;
    top: 50px;
    z-index: 1;
}

.card_description {
    background: #4f341c;
    width: 170px;
    border: solid 2px #ff9800;
    border-radius: 10px;
    color: #ff9800;
    margin-bottom: 20px;
}

.card_button {
    text-align: center;
}

button {
    cursor: pointer;
}

.card_itemContent_big > img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.card_itemContent_small {
    height: 150px;
    width: 200px;
    cursor: pointer;
}

.card_itemContent_small > img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card_itemContent_small > .card_button {
    position: relative;
    top: 106px;
    z-index: 1;
}